.idea/
.gradle
config/
lib/
logs/
out/

/build/
*.iml
META-INF/
*.uml

*.class


classes/artifacts/Discord_Stroumpf_Beta_jar/

src/main/resources/templates/css

src/main/resources/templates/js

\.directory

\.credentials/

src/main/resources/static/error/css

src/main/resources/static/error/js


**.log
.jpb/

**/*.env