<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport"/>
    <title>Claptrap Bot</title>
    <link href="/favicon.png"
          rel="icon"
          type="image/x-icon"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="/manifest.json" rel="manifest"/>
    <meta content="#263238" name="theme-color"/>
    <style>
        @media only screen and (max-width: 992px) {
            .row.valign-wrapper {
                display: inherit;
            }

            img {
                margin-top: 10px;
            }
        }

        @media only screen and (min-width: 992px) {
            img {
                width: 70%;
            }
        }


    </style>


</head>

<body class="blue-grey lighten-5">

<header>
    <div th:replace="header :: header ('home',${guild_name}, ${isAdmin})">...</div>
</header>


<main>
    <div class="section no-pad-bot main" id="index-banner">

        <div class="center row ">
            <div class="row center valign-wrapper ">
                <div class="col l6 m12 s12">
                    <h2 class="red-text text-darken-2" style="font-weight: 1000">STOP !</h2>
                    <h3 class=" blue-grey-text "><b>Who are you ??? Why are you here ???</b></h3>


                    <a class="btn btn-large light-green darken-3 waves-effect" href="/">
                        <i class="large material-icons">home</i>
                    </a>
                    <h6 class=" blue-grey-text ">403 – Forbidden</h6>
                </div>
                <div class="col l6 m12 s12">
                    <img class="" src="/img/403.gif" style="border:none;outline: none"/>
                </div>
            </div>
            <div class="row">

            </div>

        </div>
    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <div th:replace="footer :: footer">...</div>
</footer>

<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/navabar.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>
<script th:src="@{/js/fontawesome.js}"></script>
<script th:src="@{/js/workerRegister.js}"></script>


</body>
</html>




