<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Claptrap Bot</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="theme-color" content="#263238"/>


</head>

<body class="blue-grey lighten-5">

<header>
    <div th:replace="header :: header ('home',${guild_name}, ${isAdmin})">...</div>
</header>


<main>
    <div class="section no-pad-bot main" id="index-banner">

        <div class="center row">
            <div class="row center">
                <div class="col l6 m12 s12">
                    <h2 class="red-text text-darken-2" style="font-weight: 1000">Oops !</h2>
                    <h3 class=" blue-grey-text "><b>You are lost !</b></h3>
                    <h3 class=" blue-grey-text "><b>Page not found !</b></h3>
                    <a class="btn btn-large light-green darken-3 waves-effect" href="/">
                        <i class="large material-icons">home</i>
                    </a>
                    <h6 class=" blue-grey-text ">404 – Not Found</h6>
                </div>
                <div class="col l6 m12 s12">
                    <img class="" src="/img/404.gif" style="border:none;outline: none"/>
                </div>
            </div>
            <div class="row">

            </div>

        </div>
    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <div th:replace="footer :: footer">...</div>
</footer>

<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/navabar.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>
<script th:src="@{/js/fontawesome.js}"></script>
<script th:src="@{/js/workerRegister.js}"></script>


</body>
</html>




