/*.nav-wrapper{*/
/*!*margin-right: 1%;*!*/
/*margin-left: 1%;*/
/*width: 100%;*/
/*}*/


.collapsible-body {
    padding: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@font-face {
    font-family: "Norwester";
    src: url("/css/font/norwester.ttf"),
    url("/css/font/norwester.woff");
}

.brand-logo {
    font-family: Norwester;
    font-size: 45px !important;
    font-weight: bold;
    -webkit-text-fill-color: #fbcf40;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
}

#dropdown_guilds a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

#dropdown_guilds li:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}