<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>
<link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>


<div class="footer-copyright brown darken-4" th:fragment="footer">
    <div class="container center-align">
        <a href="https://github.com/Sebclem/ClaptrapBot" style="margin-right: 10px; height: 41px" class="" target="_blank">
            <img th:src="@{/img/GitHub.png}" height="41px" alt="Github"/>
            <img th:src="@{/img/GitHub_Logo.png}" height="41px" style="margin-left: -3px" alt="Github"/>
        </a>
        <a href="https://www.buymeacoffee.com/seb6596" target="_blank">
            <img alt="Buy Me A Coffee" src="https://www.buymeacoffee.com/assets/img/guidelines/download-assets-sm-2.svg"/>
        </a>

    </div>
</div>
</body>
</html>