<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>
<link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>




<div class="footer-copyright brown darken-4" th:fragment="footer">
    <div class="container">
        2019 - Sebastien Clement
        <a class="grey-text text-lighten-4 right" href="https://github.com/Sebclem/ClaptrapBot" target="_blank">GitHub</a>
    </div>
</div>
</body>
</html>