<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>
<link href="../static/css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css"/>


<div class="footer-copyright brown darken-4" th:fragment="footer">
    <div class="container center-align">
        <a class="" href="https://github.com/Sebclem/ClaptrapBot" style="margin-right: 10px; height: 41px"
           target="_blank">
            <img alt="Github" height="41px" th:src="@{/img/GitHub.png}"/>
            <img alt="Github" height="41px" style="margin-left: -3px" th:src="@{/img/GitHub_Logo.png}"/>
        </a>
        <a href="https://www.buymeacoffee.com/seb6596" target="_blank">
            <img alt="Buy Me A Coffee"
                 src="https://www.buymeacoffee.com/assets/img/guidelines/download-assets-sm-2.svg"/>
        </a>

    </div>
</div>
</body>
</html>