<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>
<!--__________________________________________________________-->
<!--                         NAV BAR                          -->
<!--                           AND                            -->
<!--                          LOGIN                           -->
<!--__________________________________________________________-->
<link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<div th:fragment="header (page, guild_name, isAdmin)">
    <nav class="brown darken-4 z-depth-3" role="navigation" >
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo hide-on-small-and-down" style="white-space: nowrap">Claptrap Bot</a>
        <a href="/" class="brand-logo hide-on-med-and-up show-on-small" style="white-space: nowrap">Claptrap</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="nav-change-guild truncate waves-effect waves-light btn-flat grey-text text-darken-1" th:text="${guild_name}" style="margin-top: 2px;margin-right: 0px;"></a>
            </li>
            <li class="" th:classappend="(${page} == 'home')? 'active' : ''">
                <a class="waves-effect waves-light" href="/">Home</a>
            </li>
            <li class="disable" th:classappend="(${page} == 'music')? 'active' : ''">
                <a class="waves-effect waves-light" href="/music">Music Control</a>
            </li>


            <li id="nav-bar-account">
                <a class="dropdown-account dropdown-trigger" data-target="dropdown_connected"><i class="material-icons">account_box</i></a>
            </li>

        </ul>


        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    </nav>

    <ul id="nav-mobile" class="sidenav">
        <li class="center">
            <a class="brand-logo" href="/" style="font-weight: bold"><h3 class="blue-grey-text text-darken-4" style="font-weight: bold">Claptrap Bot</h3></a>
        </li>
        <li><div class="divider"></div></li>
        <li class="center ">
            <a class="nav-change-guild truncate waves-effect waves-light btn grey lighten-2 black-text " th:text="${guild_name}" style=""></a>
        </li>
        <li><div class="divider"></div></li>

        <li class="center" th:classappend="(${page} == 'home')? 'active' : ''">
            <a class="waves-effect waves-light sidenav-trigger" href="/" data-target="slide-out">Home</a>
        </li>
        <li class="center" th:classappend="(${page} == 'music')? 'active' : ''">
            <a class="waves-effect waves-light" href="/music">Music Control</a>
        </li>


        <li><div class="divider"></div></li>
        <li><a class="center nav-change-guild">Change Server</a></li>
        <li class="center bot-settings" th:classappend="(${page} == 'settings')? 'active' : ''" th:style="${isAdmin} ? '' : 'visibility: hidden; display: none;'">
            <a class="waves-effect waves-light" href="/settings">Bot Settings</a>
        </li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Account</a>
        </li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Playlists</a>
        </li>
        <li class="divider"></li>

        <li><a class="center red-text nav-disconnect" style="font-weight: bold">Disconnect</a></li>

    </ul>






    <!-- Dropdown connected -->
    <ul id="dropdown_connected" class="dropdown-content ">
        <li>
            <a class="center blue-grey-text text-darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="It's you !" id="nav-name" style="font-weight: bold"></a>
        </li>
        <li class="divider"></li>
        <li><a class="center nav-change-guild" >Change Server</a></li>
        <li class="bot-settings" th:style="${isAdmin} ? '' : 'visibility: hidden; display: none;'">
            <a class=" center waves-effect waves-light " href="/settings" >Bot Settings</a>
        </li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Account</a>
        </li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Playlists</a>
        </li>
        <li class="divider"></li>

        <li><a class="center red-text nav-disconnect" style="font-weight: bold">Disconnect</a></li>
    </ul>



    <!--________________________________________-->
    <!--            Guild modal                 -->
    <!--________________________________________-->

    <div id="modal_guild" class="modal">
        <div class="modal-content" style="padding-bottom: 0px">
            <div class="row" style="margin-bottom: 0px">
                <h3 class="col l12 m12 s12 center">Server Selection</h3>
                <div class="col l4 offset-l4 m8 offset-m4 offset-s3 s8 center">
                    <form id="guild_form" action="#" class="left-align">
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="btn_ok_guild" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Ok</a>
        </div>
    </div>



    <div id="modal_internet" class="modal">
        <div class="modal-content" style="padding-bottom: 0px">
            <div class="row" style="margin-bottom: 0px">
                <h3 class="col l12 m 12 s12 center red-text">Can't connect to server!</h3>
                <div class="col l6 offset-l3 offset-m1 m10 offset-s1 s10 center">
                    <p> Please check your connection and reload the app!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>




    <p id="radioTemplateGuild" class="" style="visibility: hidden; display: none ">
        <label>
            <input name="guildRadio" class="with-gap" type="radio" value="@id" id="@id"/>
            <span>@name</span>
        </label>
    </p>

    <!--__________________________________________________________-->
    <!--                                                          -->
    <!--                           END                            -->
    <!--                                                          -->
    <!--__________________________________________________________-->
</div>
</body>
</html>