<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
</head>

<body>
<!--__________________________________________________________-->
<!--                         NAV BAR                          -->
<!--                           AND                            -->
<!--                          LOGIN                           -->
<!--__________________________________________________________-->
<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<div th:fragment="header (page, guild_name, redirect_url)">
    <nav class="blue-grey darken-4 z-depth-3" role="navigation" >
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Claptrap Bot</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="nav-change-guild truncate waves-effect waves-light btn-flat grey-text text-darken-1" th:text="${guild_name}" style="margin-top: 2px;margin-right: 0px;"></a>
            </li>
            <li class="" th:classappend="(${page} == 'home')? 'active' : ''">
                <a class="waves-effect waves-light" href="/">Home</a>
            </li>
            <li class="disable" th:classappend="(${page} == 'music')? 'active' : ''">
                <a class="waves-effect waves-light" href="/music">Music Control</a>
            </li>


            <li id="nav-bar-account">
                <a class="dropdown-account dropdown-trigger" data-target="dropdown_connected"><i class="material-icons">account_box</i></a>
            </li>

        </ul>


        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    </nav>

    <ul id="nav-mobile" class="sidenav">
        <li class="center" th:classappend="(${page} == 'home')? 'active' : ''">
            <a class="waves-effect waves-light sidenav-trigger" href="/" data-target="slide-out">Home</a>
        </li>
        <li class="center" th:classappend="(${page} == 'music')? 'active' : ''">
            <a class="waves-effect waves-light" href="/music">Music Control</a>
        </li>

        <li><div class="divider"></div></li>
        <li><a class="center nav-change-guild">Change Guild</a></li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Account</a>
        </li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Playlists</a>
        </li>
        <li class="divider"></li>

        <li><a class="center red-text nav-disconnect" style="font-weight: bold">Disconnect</a></li>

    </ul>






    <!-- Dropdown connected -->
    <ul id="dropdown_connected" class="dropdown-content ">
        <li>
            <a class="center blue-grey-text text-darken-4 tooltipped" data-position="left" data-delay="50" data-tooltip="It's you !" id="nav-name" style="font-weight: bold"></a>
        </li>
        <li class="divider"></li>
        <li><a class="center nav-change-guild" >Change Guild</a></li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Account</a>
        </li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Playlists</a>
        </li>
        <li class="divider"></li>

        <li><a class="center red-text nav-disconnect" style="font-weight: bold">Disconnect</a></li>
    </ul>


    <!--________________________________________-->
    <!--            Connection modal            -->
    <!--________________________________________-->
    <div id="modal_connection" class="modal">
        <div class="modal-content">

            <div class="row center">
                <div class="col s12">
                    <h3 class="" style="font-weight: bold">Sign in</h3>
                </div>
            </div>
            <div class="row center">
                <a class="btn waves-effect waves-light" style="background-color: #7289DA" th:href="${redirect_url}">
                    Sign in with discord <i class="fab fa-discord fa-lg" style="margin-left: 2px"></i>
                </a>
            </div>
            <div class="row center">
                <div class="col s12">
                    <h3 style="font-weight: bold">Or</h3>
                </div>
            </div>
            <div class="row center" style="margin-bottom: 0px">
                <form name="login_form" id="login_form" action="javascript:void(0);" onsubmit="tryConnection()">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="input-field col l6 offset-l3 m10 offset-m1 s10 offset-s1">
                            <i class="material-icons prefix">account_box</i>
                            <input name="username" id="user_input" type="text" class="validate"/>
                            <label for="user_input" >User Name</label>
                            <span class="helper-text" data-error="User not registered!"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col l6 offset-l3 m10 offset-m1 s10 offset-s1">
                            <i class="material-icons prefix">security</i>
                            <input name="password" id="password_input" type="password" class="validate"/>
                            <label for="password_input">Password</label>
                            <span class="helper-text" data-error="Wrong password!"></span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px">
                        <button id="btn-submit-connect" class="btn waves-effect waves-light light-green darken-1 scale-transition scale-out" type="submit" name="action" >
                            Submit<i class="material-icons right">send</i>
                        </button>
                    </div>

                    <div class="row">
                        <a class="btn waves-effect waves-light brown" href="/register">
                            Create account<i class="material-icons right">person_add</i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--________________________________________-->
    <!--            Guild modal                 -->
    <!--________________________________________-->

    <div id="modal_guild" class="modal">
        <div class="modal-content" style="padding-bottom: 0px">
            <div class="row" style="margin-bottom: 0px">
                <h3 class="col s12 center">Guild Selection</h3>
                <div class="col offset-s4 s4 center">
                    <form id="guild_form" action="#" class="left-align">
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="btn_ok_guild" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Ok</a>
        </div>
    </div>



    <div id="modal_internet" class="modal">
        <div class="modal-content" style="padding-bottom: 0px">
            <div class="row" style="margin-bottom: 0px">
                <h3 class="col l12 m 12 s12 center red-text">Can't connect to server!</h3>
                <div class="col l6 offset-l3 offset-m1 m10 offset-s1 s10 center">
                    <p> Please check your connection and reload the app!</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>




    <p id="radioTemplateGuild" class="" style="visibility: hidden; display: none ">
        <label>
            <input name="guildRadio" class="with-gap" type="radio" value="@id" id="@id"/>
            <span>@name</span>
        </label>
    </p>

    <!--__________________________________________________________-->
    <!--                                                          -->
    <!--                           END                            -->
    <!--                                                          -->
    <!--__________________________________________________________-->
</div>
</body>
</html>