<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Claptrap Bot</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="manifest" href="/manifest.json"/>


</head>

<body class="blue-grey lighten-5" >

<div th:replace="header :: header ('home',${guild_name},${redirect_url})">...</div>

<div class="section no-pad-bot main" id="index-banner">
    <div class="center center-align">
        <h2>Home Page</h2>
        <h1>Coming Soon</h1>
        <img src="/favicon.png" class="responsive-img"/>
    </div>

</div>
<script>
    var needLogin = true;
</script>
<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/navabar.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>
<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" crossorigin="anonymous"></script>
<script th:src="@{/js/workerRegister.js}"></script>


</body>
</html>
