<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="Claptrap discord bot at your service! Add me to your discord server and my beautiful web interface will be there for you ! Music control, config, news, you can do anything with my web page!"/>
    <title>Claptrap Bot</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="manifest" href="/manifest.json"/>

    <th:block th:if="${isLogged} == true and ${noMutualGuilds} == false">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css"/>
        <link rel="stylesheet" href="css/github-activity.css"/>
    </th:block>

    <meta name="theme-color" content="#263238"/>
    <style>
        @media only screen and (max-width: 992px) {
            .row.valign-wrapper {
                display: inherit;
            }
        }


    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="header :: header ('home',${guild_name}, ${isAdmin})">...</div>
</header>

<main>

    <div class="row">
        <div class="col offset-l4 l4 m6 offset-m3 s12">

        </div>
    </div>

    <div class="section no-pad-bot container main" id="index-banner"><div th:if="${isLogged} == false">
            <div class="row valign-wrapper">
                <div class="col m6 offset-s2 s8 center">
                    <img src="/favicon.png" class="responsive-img"/>
                    <div class="card blue-grey">
                        <div class="card-content white-text center z-depth-5">
                            <span class="card-title">Add me to your server !</span>
                            <a class="btn green" th:href="${inviteLink}" target="_blank">Invite me !</a>
                        </div>
                    </div>
                </div>
                <div class="col m6 s12 center flow-text">
                    <h2>Hello you !</h2>
                    <h4>Please log in to have access to you'r server</h4>
                    <a class="btn green pulse" style="margin-top: 10px" href="/login">Log in / Register</a>
                </div>

            </div>


        </div>
        <div th:if="${isLogged} == true">
            <div th:if="${noMutualGuilds} == true">
                <div class="row valign-wrapper">
                    <div class="col m6 offset-s3 s6">
                        <img src="/favicon.png" class="responsive-img"/>
                    </div>
                    <div class="col m6 s12 center flow-text">
                        <h2>Oh no !</h2>
                        <h4>We don't have any mutual server !</h4>
                        <h5>You can change this by inviting me with this button !</h5>
                        <a th:href="${inviteLink}" class="btn blue pulse" style="margin-top: 10px" href="/login" target="_blank">Invite me !</a>
                    </div>

                </div>
            </div>
            <div th:if="${noMutualGuilds} == false">
                <div class="row">
                    <div class="col m6 offset-s2 s8 center">
                        <img src="/favicon.png" class="responsive-img"/>
                        <h2 class="flow-text">Home Page Comming soon!</h2>
                        <div class="card blue-grey">
                            <div class="card-content white-text center z-depth-4">
                                <span class="card-title">Add me to your server !</span>
                                <a class="btn green waves-effect" th:href="${inviteLink}" target="_blank">Invite me !</a>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 s12">

                        <div class="z-depth-2" id="feed" style="height: 80vh"></div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <div th:replace="footer :: footer">...</div>
</footer>
<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/navabar.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>
<script th:src="@{/js/fontawesome.js}"></script>
<script th:src="@{/js/workerRegister.js}"></script>
<th:block th:if="${isLogged} == true and ${noMutualGuilds} == false">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script th:src="@{/js/github-activity.js}"></script>
    <script>
        GitHubActivity.feed({
            username: "BrokenFire",
            repository: "ClaptrapBot", // optional
            selector: "#feed",
            limit: 20 // optional
        });
    </script>
</th:block>



</body>
</html>
