<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-144247946-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-144247946-1');
    </script>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport"/>
    <title>Claptrap Bot</title>
    <link href="/favicon.png"
          rel="icon"
          type="image/x-icon"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <meta content="#263238" name="theme-color"/>

</head>

<body class="blue-grey lighten-4">

<!--__________________________________________________________-->
<!--                         NAV BAR                          -->
<!--                           AND                            -->
<!--                          LOGIN                           -->
<!--__________________________________________________________-->
<header>
    <nav class="brown darken-4 z-depth-3" role="navigation">
        <div class="nav-wrapper container">
            <a class="brand-logo hide-on-small-and-down center" href="/" style="white-space: nowrap">Claptrap Bot</a>
            <a class="brand-logo hide-on-med-and-up show-on-small center" href="/"
               style="white-space: nowrap">Claptrap</a>
        </div>
    </nav>
</header>

<!--__________________________________________________________-->
<!--                                                          -->
<!--                           END                            -->
<!--                                                          -->
<!--__________________________________________________________-->

<main>
    <div class="section main" id="index-banner">
        <div class="row">
            <div class="card-panel col xl8 offset-xl2 l10 offset-l1 m10 offset-m1 s10 offset-s1">
                <div class="row center">
                    <div class="col s12">
                        <h3 class="" style="font-weight: bold">Sign in</h3>
                    </div>
                </div>
                <div class="row center">
                    <a class="btn waves-effect waves-light" style="background-color: #7289DA" th:href="${redirect_url}">
                        Sign in with discord <i class="fab fa-discord fa-lg" style="margin-left: 2px"></i>
                    </a>
                </div>
                <div class="row center">
                    <div class="col s12">
                        <h3 style="font-weight: bold">Or</h3>
                    </div>
                </div>
                <div class="row center" style="margin-bottom: 0px">
                    <form id="login_form" name="login_form">
                        <div class="row" style="margin-bottom: 0px">
                            <div class="input-field col l6 offset-l3 m10 offset-m1 s10 offset-s1">
                                <i class="material-icons prefix">account_box</i>
                                <input autocomplete="username" class="validate" id="user_input" name="username"
                                       type="text"/>
                                <label for="user_input">User Name</label>
                                <span class="helper-text" data-error="User not registered!"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col l6 offset-l3 m10 offset-m1 s10 offset-s1">
                                <i class="material-icons prefix">security</i>
                                <input autocomplete="current-password" class="validate" id="password_input" name="password"
                                       type="password"/>
                                <label for="password_input">Password</label>
                                <span class="helper-text" data-error="Wrong password!"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <button class="btn waves-effect waves-light light-green darken-1 scale-transition scale-out"
                                    id="btn-submit-connect"
                                    name="action" type="submit">
                                Submit<i class="material-icons right">send</i>
                            </button>
                        </div>

                        <div class="row">
                            <a class="btn waves-effect waves-light brown" href="/register">
                                Create account<i class="material-icons right">person_add</i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <div th:replace="footer :: footer">...</div>
</footer>

<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/login.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>
<script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


</body>
</html>
