<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Music Control - Discord Bot</title>
    <link rel="icon"
          type="image/x-icon"
          href="favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="blue-grey lighten-5" >

<div th:replace="header :: header ('music')">...</div>

<div class="section no-pad-bot main" id="index-banner">
    <div class="row">
        <div class="col s8">
            <div class="row center" >
                <img class="responsive-img z-depth-3" id="music_img" style="max-width: 30%" src=""/>
            </div>
            <h4 class="center" id="music_text"></h4>
            <div class="row center" style="margin-bottom: 0px">
                <div class="progress col s6 offset-s3 z-depth-3">
                    <div class="determinate" id="music_progress" style="width: 0%"></div>
                </div>
            </div>
            <div class="row center">
                <div class="col s2 offset-s3 left-align" style="padding: 0px" id="current_time">0:00</div>
                <div class="col s2 offset-s2 right-align " style="padding: 0px" id="total_time">0:00</div>
            </div>
            <div class="row center">
                <div class="col s2 offset-s3 center">
                    <a class="btn-large red darken-4 z-depth-3 waves-effect waves-light" id="btn_stop">
                        <i class="material-icons medium">stop</i>
                    </a>
                </div>
                <div class="col s2 center">
                    <a class="btn-large green darken-4 z-depth-3 waves-effect waves-light" id="btn_play">
                        <i class="material-icons medium">play_arrow</i>
                    </a>
                </div>
                <div class="col s2 center">
                    <a class="btn-large light-blue darken-4 z-depth-3 waves-effect waves-light" id="btn_next">
                        <i class="material-icons">skip_next</i>
                    </a>
                </div>
            </div>
            <div class="row center">

                <div class="col offset-s5 s2 center">
                    <a class="btn black z-depth-3 waves-effect waves-light modal-trigger" href="#modal_current_info" id="btn_info">
                        <i class="material-icons">info</i>
                    </a>
                </div>


            </div>
            <div class="row center">
                <div class="col offset-s5 s2 center">
                    <a class="btn-large red accent-4 z-depth-3 waves-effect waves-light" id="btn_disconnect">
                        <i class="material-icons">call_end</i>
                    </a>
                </div>
            </div>

        </div>
        <div class="col s4" >
            <table>
                <thead>
                <tr>
                    <th style="padding: 0px;">
                        <div class="row center valign-wrapper" style="margin: 0px">
                            <div class="col s3 center blue-grey-text text-darken-3"><h5><b>Playlist</b></h5></div>
                            <div class="col s3 center" style="padding-right: 0px; padding-left: 0px">
                                <a class="waves-effect waves-light btn modal-trigger red darken-4" id="flush_btn"><i class="material-icons">delete_sweep</i></a>
                            </div>
                            <div class="col s3 center" style="padding-right: 0px; padding-left: 0px">
                                <!-- Modal Trigger -->
                                <a class="waves-effect waves-light btn modal-trigger green darken-4" id="add_btn" href="#modalAdd"><i class="material-icons">add_circle_outline</i></a>

                                <!-- Modal Structure -->
                                <div id="modalAdd" class="modal disabled">
                                    <div class="modal-content" style="padding-bottom: 0px">
                                        <div class="row" style="margin-bottom: 0px">
                                            <h3 class="col s12"> Add Music</h3>
                                            <form class="col s12">
                                                <div class="row" style="margin-bottom: 0px">
                                                    <div class="input-field col s12" style="padding-left: 0px; padding-right: 0px">
                                                        <!--<i class="material-icons prefix">link</i>-->
                                                        <input id="input_link" type="text" class="validate"/>
                                                        <label for="input_link">Link</label>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom: 0px">
                                                    <div class="col s12 center">
                                                        Playlist Limit
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom: 0px">
                                                    <p class="range-field">
                                                        <input type="range" id="limit_range" min="1" max="300" step="1" value="30" />
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                                        <a href="#!" id="btn_add_top" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Add On Top</a>
                                        <a href="#!" id="btn_add_bottom" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Add On Bottom</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col s3 center " style="padding-left: 0px">
                                <div class="row switch  blue-grey-text text-darken-3" style="margin-bottom: 0px">
                                    AutoFlow
                                </div>
                                <div class="row switch tooltipped" data-position="bottom" data-delay="50" data-tooltip="Experimental!">
                                    <label>
                                        <input type="checkbox" id="autoflow"/>
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <ul id="playlist_list" class="collapsible popout" data-collapsible="accordion" style="margin: 0px">

                        </ul>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>


    </div>




    <!-- Music  -->
    <div id="modal_current_info" class="modal bottom-sheet">
        <div class="modal-content">
            <ul class="collection">
                <li class="collection-item " id="modal_title"></li>
                <li class="collection-item " id="modal_author"></li>
                <li class="collection-item " id="modal_lenght"></li>
                <li class="collection-item " id="modal_url"></li>
                <li class="collection-item " id="modal_submit"></li>
            </ul>
        </div>

    </div>


</div>

<!-- Playlist template-->
<li id="playlist_template" style="visibility: hidden">
    <div class="collapsible-header"><i class="material-icons">drag_handle</i>@title</div>
    <div class="collapsible-body">
        <ul class="collection">
            <li class="collection-item">Author: @author</li>
            <li class="collection-item">Duration: @lenght</li>
            <li class="collection-item">URL: <a target="_blank" href="@url">@url</a></li>
            <li class="collection-item">Submitted by: @user</li>
            <li class="collection-item center">
                <a class="btn red darken-4 z-depth-3 waves-effect waves-light btn_dell_playlist" data_url="@url">
                    <i class="material-icons medium">delete</i>
                </a>
            </li>
        </ul>
    </div>
</li>

<!-- Modal Structure -->
<div id="modalChanels" class="modal">
    <div class="modal-content" style="padding-bottom: 0px">
        <div class="row" style="margin-bottom: 0px">
            <h3 class="col s12 center">Vocal Channels</h3>
            <div class="col offset-s4 s4 center">
                <form id="channelForm" action="#" class="left-align">
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/"  class="modal-action modal-close waves-effect waves-red btn-flat ">Cancel</a>
        <a href="#!" id="btn_ok_channel" class="modal-action modal-close waves-effect waves-green btn-flat disabled">Connect</a>

    </div>
</div>


<div id="modal_loading" class="modal valign-wrapper">
    <div class="modal-content" >
        <div class="row center">
            <h3 class="col s12 center">Please wait</h3>
        </div>
        <div class="row center" >
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<p id="radioTemplate" class="" style="visibility: hidden">
    <label>
        <input name="vocalRadio" class="with-gap" type="radio" value="@id" id="@id"/>
        <span for="@id">@name</span>
    </label>

</p>

<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

<script>
    var needLogin = true;
</script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/music.js}"></script>
<script th:src="@{/js/navabar.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>

</body>
</html>
