<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>User Registration - Discord Bot</title>
    <link rel="icon" type="image/x-icon" href="favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="blue-grey lighten-5" >

    <!--__________________________________________________________-->
    <!--                         NAV BAR                          -->
    <!--                           AND                            -->
    <!--                          LOGIN                           -->
    <!--__________________________________________________________-->
    <nav class="blue-grey darken-4 z-depth-3" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">Discord Bot</a>
            <ul class="right hide-on-med-and-down">

                <li class="">
                    <a class="waves-effect waves-light sidenav-trigger" href="/" data-target="slide-out">Home</a>
                </li>
                <li>
                    <a class="waves-effect waves-light" href="/music" >Music Control</a>
                </li>
                <li id="nav-bar-account">
                    <a class="dropdown-account" data-activates="dropdown1"><i class="material-icons">account_box</i></a>
                </li>

            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li class="active">
                    <a class="waves-effect waves-light sidenav-trigger" href="/" data-target="slide-out">Home</a>
                </li>
                <li>
                    <a class="waves-effect waves-light sidenav-trigger" href="/music" data-target="slide-out" >Music Control</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-navbar-mobile button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <!-- Dropdown connected -->
    <ul id="dropdown_connected" class="dropdown-content ">
        <li>
            <a class="center blue-grey-text text-darken-4" id="nav-name" style="text-decoration: underline; font-weight: bold"></a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Account</a>
        </li>
        <li>
            <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!">My Playlists</a>
        </li>
        <li class="divider"></li>
        <li><a class="center red-text" id="nav-disconnect" style="font-weight: bold">Disconnect</a></li>
    </ul>


    <!--________________________________________-->
    <!--            Connection modal            -->
    <!--________________________________________-->
    <div id="modal_connection" class="modal">
        <div class="modal-content">
            <div class="row center">
                <div class="col s12">
                    <h3 class="" style="font-weight: bold">Sign in</h3>
                </div>
            </div>
            <div class="row center" style="margin-bottom: 0px">
                <form name="login_form" id="login_form" action="javascript:void(0);" onsubmit="tryConnection()">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="input-field col s6 offset-s3">
                            <i class="material-icons prefix">account_box</i>
                            <input name="username" id="user_input" type="text" class="validate"/>
                            <label for="user_input" data-error="User not registered!">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s3">
                            <i class="material-icons prefix">security</i>
                            <input name="password" id="password_input" type="password" class="validate"/>
                            <label for="password_input" data-error="Wrong password!">Password</label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px">
                        <button id="btn-submit-connect" class="btn waves-effect waves-light light-green darken-1 scale-transition scale-out" type="submit" name="action" >
                            Submit<i class="material-icons right">send</i>
                        </button>
                    </div>

                    <div class="row">
                        <a class="btn waves-effect waves-light brown" href="/register">
                            Create account<i class="material-icons right">person_add</i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--__________________________________________________________-->
    <!--                                                          -->
    <!--                           END                            -->
    <!--                                                          -->
    <!--__________________________________________________________-->



    <div class="section no-pad-bot main" id="index-banner">
        <div class="row center">
            <div class="row">
                <h2 class="col s12">Account Registration</h2>
            </div>
            <div class="row" style="margin-bottom: 0%">
                <div class="col s12">
                    <div class="input-field inline">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input id="name" type="text" class="validate invalid"/>
                        <label for="name" data-error="" data-success="">Discord Name</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0%">
                <div class="col s12">
                    <div class="input-field inline">
                        <i class="material-icons prefix">security</i>
                        <input id="passwrd" type="password" class="invalid"/>
                        <label for="passwrd" data-error="" data-success="">Password</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0%">
                <div class="col s12">
                    <div class="input-field inline">
                        <i class="material-icons prefix">security</i>
                        <input id="passwrd2" type="password" class="invalid"/>
                        <label for="passwrd2" data-error="" data-success="">Confirm</label>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <a id="sendBtn" class="waves-effect waves-light btn scale-transition scale-out">Send<i class="material-icons left">send</i></a>
            </div>
        </div>
    </div>




    <!-- Modal Structure -->
    <div id="modalToken" class="modal">
        <div class="modal-content">
            <div class="row">
                <h3 class="col s12 center"> User Validation</h3>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p class="center">
                        A validation code was sent by private message, please copy it below.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="input-field col s6 offset-s3">
                            <i class="material-icons prefix">fingerprint</i>
                            <input id="input_preToken" type="text" class="validate"/>
                            <label for="input_preToken">Verification Code</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="preTokenSend" class="modal-action waves-effect waves-green btn scale-transition scale-out">Send</a>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script th:src="@{/js/materialize.js}"></script>
    <script th:src="@{/js/register.js}"></script>
    <script th:src="@{/js/navabar.js}"></script>
    <script th:src="@{/js/js.cookie.js}"></script>


    <script th:inline="javascript">
        /*<![CDATA[*/

        var id = [[${id}]];
        console.log(id);

        /*]]>*/
    </script>
</body>
</html>