<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Sign up - Claptrap Bot</title>
    <link rel="icon" type="image/x-icon" href="favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="manifest" href="/manifest.json"/>
</head>

<body class="blue-grey lighten-5" >

    <div th:replace="header :: header ('','',${redirect_url})">...</div>



    <div class="section no-pad-bot main" id="index-banner">
        <div class="row center">
            <div class="row">
                <h2 class="col s12">Account Registration</h2>
            </div>
            <div class="row" style="margin-bottom: 0%">
                <div class="col s12">
                    <div class="input-field inline">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input id="name" type="text" class="validate invalid"/>
                        <label for="name" data-error="" data-success="">Discord Name</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0%">
                <div class="col s12">
                    <div class="input-field inline">
                        <i class="material-icons prefix">security</i>
                        <input id="passwrd" type="password" class="invalid"/>
                        <label for="passwrd" data-error="" data-success="">Password</label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0%">
                <div class="col s12">
                    <div class="input-field inline">
                        <i class="material-icons prefix">security</i>
                        <input id="passwrd2" type="password" class="invalid"/>
                        <label for="passwrd2" data-error="" data-success="">Confirm</label>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <a id="sendBtn" class="waves-effect waves-light btn scale-transition scale-out">Send<i class="material-icons left">send</i></a>
            </div>
        </div>
    </div>




    <!-- Modal Structure -->
    <div id="modalToken" class="modal">
        <div class="modal-content">
            <div class="row">
                <h3 class="col s12 center"> User Validation</h3>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p class="center">
                        A validation code was sent by private message, please copy it below.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row" style="margin-bottom: 0px">
                        <div class="input-field col s6 offset-s3">
                            <i class="material-icons prefix">fingerprint</i>
                            <input id="input_preToken" type="text" class="validate"/>
                            <label for="input_preToken">Verification Code</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="preTokenSend" class="modal-action waves-effect waves-green btn scale-transition scale-out">Send</a>
        </div>
    </div>





    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/materialize.js}"></script>
    <script th:src="@{/js/register.js}"></script>
    <script th:src="@{/js/navabar.js}"></script>
    <script th:src="@{/js/js.cookie.js}"></script>
    <script th:src="@{/js/workerRegister.js}"></script>




    <script th:inline="javascript">
        /*<![CDATA[*/

        var id = [[${id}]];
        console.log(id);

        /*]]>*/
    </script>
</body>
</html>