<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144247946-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144247946-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Bot Settings - Claptrap Bot</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="theme-color" content="#263238"/>


</head>

<body class="blue-grey lighten-5">

<!--/*@thymesVar id="guild_name" type="java.lang.String"*/-->
<!--/*@thymesVar id="redirect_url" type="java.lang.String"*/-->
<!--/*@thymesVar id="settings" type="java.util.ArrayList<net.Broken.RestApi.Data.Settings.GetSettingsData>"*/-->

<!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
<header>
    <div th:replace="header :: header ('settings',${guild_name}, ${isAdmin})">...</div>
</header>


<main>
    <div class="section no-pad-bot main container" id="index-banner">

        <div class="row">
            <div class="card-panel col s12 m12 l10 offset-l1" style="border-radius: 10px">
                <div class="row">
                    <h2 class="center col s12" style="margin-bottom: 0">Bot Settings</h2>

                </div>
                <div class="row">
                    <div class="divider col s12"></div>
                    <div class="divider col s12"></div>
                    <h4 class="center col s12" th:text="${guild_name}"></h4>
                    <div class="divider col s12"></div>
                    <div class="divider col s12"></div>
                </div>

                <div th:each="setting : ${settings}">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s10 offset-s1">
                            <h5 th:text="${setting.name}" style="font-weight: bold"></h5>
                            <div class="switch" th:if="${setting.type.toString() == 'BOOL'}">
                                <label>
                                    Off
                                    <input class="collect-switch" type="checkbox" th:id="${setting.id}"
                                           th:checked="${setting.current}"/>
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>

                            <div th:id="${setting.id}" class="input-field col l12 m12 s12 collect-select"
                                 th:if="${setting.type.toString() == 'LIST'}">
                                <select>
                                    <option disabled="disabled" th:selected="${setting.current} == ' '" value="">Choose your option
                                    </option>
                                    <option th:each="val : ${setting.values}" th:value="${val.id}"
                                            th:text="${#strings.capitalize(val.name)}"
                                            th:selected="${setting.current} == ${val.id}"></option>

                                </select>
                            </div>

                            <div th:id="${setting.id}" class="input-field col l12 m12 s12 collect-select-multiple"
                                 th:if="${setting.type.toString() == 'SELECT_LIST'}">
                                <select multiple="multiple">
                                    <option disabled="disabled" value="">Choose your option
                                    </option>
                                    <option th:each="val : ${setting.values}" th:value="${val.id}"
                                            th:text="${#strings.capitalize(val.name)}"
                                            th:selected="${val.selected} == true"></option>

                                </select>
                            </div>



                            <div class="input-field col l12 m12 s12 collect" th:if="${setting.type.toString() == 'STRING'}">
                                <input th:id="${setting.id}" placeholder="Use @name variable" th:value="${setting.current}"
                                       id="first_name" type="text" class="validate collect-text"/>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="divider col s12"></div>

                    </div>


                </div>
                <div class="row">
                    <div class="col s12 center">
                        <a id="sendBtn" class="waves-effect waves-light btn green">Save<i
                                class="material-icons left">save</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal_loading" class="modal valign-wrapper">
        <div class="modal-content">
            <div class="row center">
                <h3 class="col l12 m12 s12 center">Please wait</h3>
            </div>
            <div class="row center">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <div th:replace="footer :: footer">...</div>
</footer>

<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/navabar.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>
<script th:src="@{/js/settings.js}"></script>

<script th:src="@{/js/fontawesome.js}"></script>
<script th:src="@{/js/workerRegister.js}"></script>


</body>
</html>




