<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-144247946-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-144247946-1');
    </script>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport"/>
    <title>Bot Settings - Claptrap Bot</title>
    <link href="/favicon.png"
          rel="icon"
          type="image/x-icon"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="css/materialize.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" media="screen,projection" rel="stylesheet" type="text/css"/>
    <link href="/manifest.json" rel="manifest"/>
    <meta content="#263238" name="theme-color"/>


</head>

<body class="blue-grey lighten-5">

<!--/*@thymesVar id="guild_name" type="java.lang.String"*/-->
<!--/*@thymesVar id="redirect_url" type="java.lang.String"*/-->
<!--/*@thymesVar id="settings" type="java.util.ArrayList<net.Broken.RestApi.Data.Settings.GetSettingsData>"*/-->

<!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
<header>
    <div th:replace="header :: header ('settings',${guild_name}, ${isAdmin})">...</div>
</header>


<main>
    <div class="section no-pad-bot main container" id="index-banner">

        <div class="row">
            <div class="card-panel col s12 m12 l10 offset-l1" style="border-radius: 10px">
                <div class="row">
                    <h2 class="center col s12" style="margin-bottom: 0">Bot Settings</h2>

                </div>
                <div class="row">
                    <div class="divider col s12"></div>
                    <div class="divider col s12"></div>
                    <h4 class="center col s12" th:text="${guild_name}"></h4>
                    <div class="divider col s12"></div>
                    <div class="divider col s12"></div>
                </div>

                <div th:each="setting : ${settings}">
                    <div class="row">
                        <div class="col l10 offset-l1 m10 offset-m1 s10 offset-s1">
                            <h5 style="font-weight: bold" th:text="${setting.name}"></h5>
                            <div class="switch" th:if="${setting.type.toString() == 'BOOL'}">
                                <label>
                                    Off
                                    <input class="collect-switch" th:checked="${setting.current}" th:id="${setting.id}"
                                           type="checkbox"/>
                                    <span class="lever"></span>
                                    On
                                </label>
                                <div th:text="${setting.description}"></div>
                            </div>

                            <div class="input-field col l12 m12 s12 collect-select" th:id="${setting.id}"
                                 th:if="${setting.type.toString() == 'LIST'}">
                                <select>
                                    <option disabled="disabled" th:selected="${setting.current} == ' '" value="">Choose
                                        your option
                                    </option>
                                    <option th:each="val : ${setting.values}" th:selected="${setting.current} == ${val.id}"
                                            th:text="${#strings.capitalize(val.name)}"
                                            th:value="${val.id}"></option>

                                </select>
                                <div th:text="${setting.description}"></div>
                            </div>

                            <div class="input-field col l12 m12 s12 collect-select-multiple" th:id="${setting.id}"
                                 th:if="${setting.type.toString() == 'SELECT_LIST'}">
                                <select multiple="multiple">
                                    <option disabled="disabled" value="">Choose your option
                                    </option>
                                    <option th:each="val : ${setting.values}" th:selected="${val.selected} == true"
                                            th:text="${#strings.capitalize(val.name)}"
                                            th:value="${val.id}"></option>

                                </select>
                                <div th:text="${setting.description}"></div>
                            </div>


                            <div class="input-field col l12 m12 s12 collect"
                                 th:if="${setting.type.toString() == 'STRING'}">
                                <input class="validate collect-text" id="first_name"
                                       placeholder="Use @name variable"
                                       th:id="${setting.id}" th:value="${setting.current}" type="text"/>
                                <div th:text="${setting.description}"></div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="divider col s12"></div>

                    </div>


                </div>
                <div class="row">
                    <div class="col s12 center">
                        <a class="waves-effect waves-light btn green" id="sendBtn">Save<i
                                class="material-icons left">save</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal valign-wrapper" id="modal_loading">
        <div class="modal-content">
            <div class="row center">
                <h3 class="col l12 m12 s12 center">Please wait</h3>
            </div>
            <div class="row center">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <div th:replace="footer :: footer">...</div>
</footer>

<!--  Scripts-->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/navabar.js}"></script>
<script th:src="@{/js/js.cookie.js}"></script>
<script th:src="@{/js/settings.js}"></script>

<script th:src="@{/js/fontawesome.js}"></script>
<script th:src="@{/js/workerRegister.js}"></script>


</body>
</html>




